/* pelicula-container
pelicula-title
pelicula-image
pelicula-overview */

.pelicula-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  color: #FFFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2rem;
  min-height: 100vh;
}

.pelicula-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.pelicula-image {
  max-width: 80%;
  border-radius:20px;
  margin-bottom: 1rem;
}

.pelicula-overview {
  text-align: center;
  max-width: 80%;
  line-height: 1.6;
  font-size: 1rem;
}